body {
    background: #EEE;
    color: #333;
    max-width: 80vw;
    width: 80vw;
    margin: 2vh auto;
    font-family: 'Athelas';
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

#header {
  margin-bottom: 1rem;
  border-bottom: 1px #333 solid;
}

footer {
  padding-top: 1rem;
  margin-top: 1rem;
}

#header a {
  text-decoration: none;
}

.album_box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.album_box img {
  object-fit:cover;
  width: 20vw;
  height: 20vw;
}

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.album a {
  text-decoration: none;
}

.cover:hover {
  filter: invert(1) ;
}

sup {
    line-height: 0;
}

p {
    margin: 0 0 1rem 0;
}

td a {
    text-decoration: none;
    color: #333;
}

td:hover a{
    background-color: #555;
    color: #FFF;
}


@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: #EEE;
    }

    a {
        color: #CCC;
    }

    a:hover {
        color: #EEE;
    }

    td a {
        color: #EEE;
    }


    #header {
      margin-bottom: 1rem;
      border-bottom: 1px #EEE solid;
    }

    footer {
      padding-top: 1rem;
      margin-top: 1rem;
    }
    td:hover a{
        background-color: #555;
        color: #EEE;
    }
}
