body {
    background: #EEE;
    color: #333;
    max-width: 80vw;
    margin: 2vh auto;
    font-family: 'Athelas';
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

article {
    border: #333 1px solid;
    margin: 1rem 0;
    padding: 1rem;
}

sup {
    line-height: 0;
}

p {
    margin: 0 0 1rem 0;
}

table {
    border: #333 1px solid;
}

tr {
    border-collapse: collapse;
}

td a {
    text-decoration: none;
    color: #333;
}

td:hover a{
    background-color: #555;
    color: #FFF;
}

button {
    background: white;
    border: #333 1px solid;
}

button:hover {
    background: #CCC;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: #EEE;
    }

    article {
        border: #EEE 1px solid;
    }

    table {
        border: #EEE 1px solid;
    }

    a {
        color: #CCC;
    }

    a:hover {
        color: #EEE;
    }

    td a {
        color: #EEE;
    }

    td:hover a{
        background-color: #555;
        color: #EEE;
    }

    button {
        background: black;
        border: #EEE 1px solid;
    }

    button:hover {
        background: #444;
    }
}
