@font-face {
    font-family: "Mondwest";
    src: url("./PPMondwest-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Mondwest";
    src: url("./PPMondwest-Bold.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Cozette";
    src: url("./CozetteVector.otf");
}

* { margin: 0; padding: 0; box-sizing: border-box;
  --textcolor: #353535;
  --bgcolor: #EEEEEE;
  --highlight: #0084a3;
  font-family: "Cozette";
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  * {
    --textcolor: #FFF;
    --bgcolor: #000;
    --highlight: #5c89bb;
  }
  header h1 a img {
    filter: invert();
  }
}

@media only screen and (max-width: 680px) {
  body { max-width: none !important; }
}

body {
    /* background: var(--bgcolor); */
    background: var(--textcolor);
    color: var(--textcolor);
    position: relative;
    line-height: 1.4;   
    font-size: 16px;
    max-width: 60vw; 
    margin: 0 auto;
}

/* ----- sections ----- */
section {

  padding: 6rem 2rem 1rem 2rem;
  /* outline: 1px solid; */
  /* outline-offset: -1rem; */
  display: none;
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 100%;
  background: var(--bgcolor);
}

section:target {
  display: block;
}

section#home {
  display: block;
}

/* ----- header ----- */
header {
  /* outline: 1px solid;
  outline-offset: -1rem; */
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  position: absolute;
  z-index: 2;
  align-items: center;
}

header h1 {
  font-size: 1em;
  font-weight: normal;
  flex: 1;
  white-space:  nowrap;
  height: 1.5rem;
}

nav a:not(:last-of-type) {
  margin-right: 0.5rem;
}

/* ----- general ----- */
a {
  text-decoration: none;
  color: var(--highlight);
}

a:hover {
  border-bottom: 1px solid;
}


section h1 {
  font-size: 1em;
  margin: 0 0 1em 0;
}

header * a {
  color: var(--textcolor);
}

#home ul {
  list-style: inside '• ';
}

h2, h3, h4 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: .6em;
  font-family: "Mondwest";
}
p, ul, ol, article {
  max-width: 70ch;
  margin-bottom: .6em;
}

ul {
  list-style-type: none;
}

#logo {
  height: 1.5rem;
  object-fit: none;
  padding: 0 1rem 0 0;
  image-rendering: pixelated;
  display: inline;
  object-position: 0% 20%;
}

h1 a:hover {
  border:none;
}


img {
  object-fit: none;
  display: inline;
  width: 20vw;
}

label {
  cursor: pointer;
  vertical-align: super;
  line-height: 1;
  font-size: .75em;
  padding-left: .1em;
}

label:hover {
  color: var(--highlight);
}

label:before {content:"[";}
label:after {content:"]";}

label + input,
label + input + small {
  display: none;
}

input:checked + small {
  display: block;
  padding: .8em 0 1em 2.5vw;;
}

small {
  font-size: .85em;
}

#albums {
  display: flex;
  flex-wrap: wrap;
}
#albums a img {
  max-width: 10vw;
}

a[href*="//"]:hover:after {
  color: var(--highlight);
  opacity: 1;
}

/* File links */


article + article {
  margin-top: 4.5em;
}

article h2 {
  font-weight: 700;
  margin: 0 0 1em 0;
}

article time {
  margin-left: .6em;
  font-size: .8em;
  font-weight: 400;
  opacity: .7;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}


.grid a:hover {
  filter: opacity(0.4);
  border-bottom: none;
}

/* For a square ratio */
.grid a {
    width:50%;
}

.grid img {
  top: 0;
  object-fit: none;
  width:100%;
  height:100%;
  max-width:400px;
}
